option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 18.19.0
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /static: public
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: public
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
    NPM_USE_PRODUCTION: false
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:command:
    Timeout: 3600