packages:
  yum:
    # Build tools for native npm packages
    gcc: []
    gcc-c++: []
    make: []
    python3: []
    python3-devel: []
    
    # Chromium dependencies for Puppeteer
    atk: []
    cups-libs: []
    gtk3: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXrandr: []
    libXScrnSaver: []
    libXtst: []
    pango: []
    xorg-x11-fonts-100dpi: []
    xorg-x11-fonts-75dpi: []
    xorg-x11-fonts-cyrillic: []
    xorg-x11-fonts-misc: []
    xorg-x11-fonts-Type1: []
    xorg-x11-utils: []
    xorg-x11-xauth: []

commands:
  01_install_chromium:
    command: "amazon-linux-extras install epel -y"
  02_install_chromium_browser:
    command: "yum install -y chromium"
  03_set_chromium_path:
    command: "ln -sf /usr/bin/chromium-browser /usr/bin/google-chrome"